/* Page globals------------------- */

.characters-page section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* Tablette (max 768px) */
@media (max-width: 768px) {
  .characters-page section {
    justify-content: center;
    gap: 20px;
  }
}

/* Mobile (max 480px) */
@media (max-width: 480px) {
  .characters-page section {
    gap: 15px;
  }
}
