.characters-page section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.character-article {
  border: 1px #ffffff solid;
  width: 250px;
  height: 330px;
  position: relative;
  background-color: white;
  p {
    color: black;
  }
}

.picture-favicon {
  position: relative;
}

.character-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.character-link {
  text-decoration: none;
  color: inherit;
}
