.header-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: #e62429 0.5px solid;
  height: 100px;
}
/* LEFT SIDE  */
header img {
  height: 40px;
}

.left-side-header {
  display: flex;
  align-items: center;
  gap: 50px;
}
/* MIDDLE MENU */
header .menu {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  gap: 15px;
}

header .menu span {
  color: white;
}

header .menu a {
  text-decoration: none;
  color: inherit;
}

/* RIGHT SIDE  */
.right-side-header {
  display: flex;
  align-items: center;
  gap: 30px;
}

.search-input {
  background-color: black;
  border: none;
  border-bottom: 0.5px solid lightgray;
  color: white;
  outline: none;
  width: 70px;
}

.search-icon {
  color: white;
  font-size: 16px;
}

.favorite-icon-header {
  color: white;
  font-size: 20px;
}
