/* Page globals------------------- */

.favorites-bloc h1 .empty-library p {
  background-color: white;
}

.empty-favorites-page {
  color: white;
}

.favorites-page {
  display: flex;
}

.favorites-bloc {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

/* cacher la barre sur Chrome / Safari */
.favorites-bloc::-webkit-scrollbar {
  display: none;
}

.favorites-bloc {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 30px;
  margin: 0;
  min-width: 1200px;
  padding: 35px 20px;
}

/* articles characters------------------- */
.favorites-characters-section {
  display: flex;
  flex-direction: column;
}

/* articles comics------------------- */
.favorites-comics-section {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
