/* Importation de police*/

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* GLOBALS------------------- */

.loading {
  color: white;
}

body {
  font-family: "Bangers", cursive;
  font-weight: light;
  /* background-color: #000000; */
  background-color: #121212;
  font-size: 12px;
  padding-top: 100px;
  letter-spacing: 2px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* titles------------------- */

h1 {
  font-weight: bold;
  color: white;
  font-size: 50px;
  padding: 40px 0;
}

h2 {
  font-weight: bold;
  color: #e62429;
  font-size: 30px;
  margin: 20px 0;
}

h3 {
  font-weight: bold;
  color: #e62429;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
}

/* blocs------------------- */
section {
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: inherit;
  }
}
