/* Importation de police*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* GLOBALS------------------- */

.loading {
  color: white;
}
body {
  font-family: "Raleway";
  font-weight: light;

  background-color: #000000;
  font-size: 12px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* titles------------------- */
h1 {
  font-weight: bold;
  color: #e62429;
  font-size: 24px;
  padding-top: 40px;
  padding-bottom: 20px;
}

h2 {
  font-weight: bold;
  color: white;
  font-size: 16px;
  padding-bottom: 10px;
}

h3 {
  font-weight: bold;
  color: #e62429;
  font-weight: bold;
  font-size: 16px;
}

section {
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: inherit;
  }
}

/* faorites btn------------------- */

.picture-heart-btn {
  position: relative;
}
.favorites-heart {
  background-color: black;
  height: 30px;
  width: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
  z-index: 2;
  position: absolute;
}
.heart-icon {
  color: white;
}

.heart-icon-active {
  color: #e62429;
}

.pagination {
  color: white;
  font-size: 16px;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.pagination button {
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
